/* =============================================
                Basic Styles
============================================= */
* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

h2,
h3 {
    color: #131313;
    font-weight: 700;
}

.header {
    width: 100%;
    background-color: #FF900E1A;
}

/* =============================================
            Navigation Menu Styles
============================================= */
.header nav {
    display: flex;
    justify-content: space-between;
    padding: 2.6vw 12vw;
    align-items: center;
}

nav .nav-title {
    font-size: 2.8rem;
}

.nav-menu {
    display: flex;
    gap: 1.5vw;
}

.nav-menu li {
    list-style: none;
}

.nav-menu li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.125rem;
    color: #424242;
}

/* =============================================
            Banner Section Styles
============================================= */

.banner {
    margin: 2.34vw 10vw;
    text-align: center;
}

.banner-info {
    margin-left: 15vw;
    margin-right: 15vw;
}

.banner-info .banner-title {
    font-size: 4rem;
    padding-top: 1.6vw;
    padding-bottom: 1vw;
}

.banner-info .banner-description {
    font-weight: 400;
    font-size: 1rem;
    padding-bottom: 1.6vw;
    /* padding: 1.6vw 0; */
}

.btn-primary {
    background-color: #FF900E;
    border: 0;
    padding: 1.1vw 1.3vw;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.25rem;
    border-radius: 8px;
    margin-bottom: 2.5vw;
}

.banner .banner-img{
    
}

.banner-img img{
    width: 100%;
}

/* =============================================
            Feature Section Styles
============================================= */

.feature-list{
    width: 100%;
}

.feature-list-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 3.7vw;
    margin: 4.4vw 15vw;
}

.feature-list-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}

.feature-list-details{

}